.screen {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, #000B11, #003655);
}

.container {
  height: 70vh;
  width: 25vw;
  padding-left: 10vw;
  padding-top: 15vh;
  position: relative;
}

.left-box {
  z-index: 1;
  position: absolute;
  color: #003655;
  height: 70vh;
  width: 25vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 4rem;
}

.embraccon {
  font-size: 1.5rem;
  font-weight: 2000;
  padding-left: 4vw;
  padding-top: 5vh;
}

.title {
  font-size: 2.2rem;
  padding-left: 4vw;
  padding-top: 3vh;
}

.description {
  font-size: 0.9rem;
  padding-left: 4vw;
  padding-top: 5vh;
  padding-right: 4vw;
}

input[type='file'] {
  display: none;
}

.input-wrapper label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4vw;
  margin-top: 6vh;
  height: 4vh;
  width: 8vw;
  background-color: #003655;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  -webkit-transition: 0.2s;
}

.input-wrapper label:hover {
  background-color: #005688;
}

.right-box {
  z-index: 0;
  display: none;
  position: absolute;
  color: #003655;
  height: 70vh;
  width: 25vw;
  background-color: white;
  border-radius: 4rem;
  -webkit-transition: all 0.5s ease;  
  -moz-transition: all 0.5s ease;  
  -o-transition: all 0.5s ease;  
  -ms-transition: all 0.5s ease; 
  transition: all 0.5s ease; 
}

.right-box-transform {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 75vw;
}

.curve {
  position: relative;
  z-index: 1;
  margin-left: auto;
  width: 26vw;
  border-top-right-radius: 3.6rem;
}

.curve-path {
  fill:#00253b;
}

.converting-text {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 4vw;
  top: 10vh;
  color: #ffffff;
  font-size: 2rem;
}

.dl-again {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;
  margin-right: 4vw;
}

.dl-again-text {
  font-size: 1.2rem;
}

#dl-again-btn {
  height: 4vh;
  width: 8vw;
  background-color: #003655;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  -webkit-transition: 0.2s;
}

#dl-again-btn:hover {
  background-color: #005688;
}