.screen {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #000B11, #003655);
}

.screen-container {
  height: 500px;
  width: 370px;
  margin-right: 370px;
  overflow: hidden;
  background-color: white;
  border-radius: 3rem;
  -webkit-transition: 0.2s;
  box-shadow: 0px 0px 46px 10px rgba(0,0,0,0.55);
}

.screen-container-large {
  width: 900px;
  margin-right: 0;
  animation-name: animation;
  animation-duration: 1s;
  overflow: inherit;
}

@keyframes animation {
  0% {
    width: 370px; 
    margin-right: 370px; 
    overflow: hidden;
  }
  80% {
    overflow: hidden;
  }
  100% {
    width: 900px; 
    margin-right: 0; 
    overflow: inherit
  }
}

.container {
  display: flex;
  width: 900px;
  height: 100%;
  position: relative;
  justify-content: space-between;
  overflow: inherit;  
}

.left-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  z-index: 1;
  color: #003655;
  height: 380px;
  width: 250px;
  padding: 60px;
  background-color: white;
  border-radius: 3rem;
}

.embraccon {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.title {
  font-size: 2.2rem;
}

.description {
  font-size: 0.9rem;
}

input[type='file'] {
  display: none;
}

.input-wrapper label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 170px;
  margin: 30px 0;
  background-color: #003655;
	color: inherit;
	border: none;
  font: inherit;
  font-weight: 300;
	cursor: pointer;
	outline: inherit;
  color: white;
  font-size: 0.9rem;
  border-radius: 20px;
  box-shadow: 0px 24px 69px 19px rgba(0,0,0,0.12);
}

.input-wrapper label:hover {
  background-color: #005688;
}

.input-wrapper .left-label {
  background-color: white;
  color: #003655;
  box-shadow: none;
  font-weight: 500;
  justify-content: flex-start;
  transition: all 0.4s linear;
}

.input-wrapper .left-label:hover {
  color: #005688;
  background-color: transparent;
}


.right-box {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #003655;
  height: 100%;
  width: 350px;
  background-color: white;
  border-radius: 4rem;
  -webkit-transition: all 0.5s ease;  
  -moz-transition: all 0.5s ease;  
  -o-transition: all 0.5s ease;  
  -ms-transition: all 0.5s ease; 
  transition: all 0.5s ease; 
}

.right-box-transform {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 75vw;
}

.curve {
  position: absolute;
  right: -1px;
  top: -1px;
  z-index: 1;
  margin-left: auto;
  width: 360px;
  border-top-right-radius: 3.1rem;
}

.curve-path {
  fill:#00253b;
}

.converting-text {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 60px;
  top: 45px;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.4rem;
}

.dl-again {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
}

.dl-again-text {
  font-size: 1rem;
  font-weight: 300;
}

#dl-again-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 170px;
  margin: 0;
  background-color: #003655;
	color: inherit;
	border: none;
  font: inherit;
  font-weight: 300;
	cursor: pointer;
	outline: inherit;
  color: white;
  font-size: 0.9rem;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  box-shadow: 0px 24px 69px 19px rgba(0,0,0,0.12);
}

#dl-again-btn:hover {
  background-color: #005688;
}